@model E_market.Models.Product
@model E_market.Models.Category
@*@model E_market.ViewModels.ProductCategoryViewModel*@


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <div class="dl-horizontal">

        @foreach (var item in Model)
        {

            @*<div style="overflow: hidden;
                background-color:lightblue">*@
            <dd style="/*float:left;*/
                 background-color:lightblue;
                 margin-left:350px;
                 margin-right:350px;
                 text-align:center;
                padding:5px;">
                @Html.DisplayFor(model => model.Name)-
                @Html.DisplayFor(model => model.Price) EGP(
                @Html.DisplayFor(model => model.category.name)
                )
            </dd>

            <br />

            <div style="margin-top:auto;
                  /*padding-top:2px;*/
                  margin-left:400px;
                  margin-bottom:30px;">

                <img src="@Url.Content("~/Uploads/" + Model.Image)" width="300" height="200" class="center" top=100px margin=25px10px display=inline-block />

            </div>

            <dd style="margin-left:320px;
                 margin-right:350px;
                 text-align:center">
                @Html.DisplayFor(model => model.Description)
            </dd>


            <div style="overflow: hidden;
             margin-left:320px;
                 margin-right:350px;
                 text-align:center;
                  margin-top:30px;">

                @Html.ActionLink("Update", "Edit", "Product", new { id = item.id }@*,new { @class = "btn btn-primary" }*@)
                @Html.ActionLink("Delete", "Delete", "Product", new { id = item.id }@*,new { @class = "btn btn-primary" }*@)


            </div>
        }

        @*</dl>*@
    </div>

    <p style="margin-top:30px;">
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>











    @*@model E_market.Models.Product

        @{
            ViewBag.Title = "Details";
        }

        <h2>Details</h2>

        <div>
            <h4>Product</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Image)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Image)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.category_id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.category_id)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
